.color{
    color: #E23744;
}
.background{
background-color: #E23744;
}
.color2{
    color: #0E2368;
}
/* .bg{
    height: 804px;
    
}
.img{
    height: 839px; */
/* } */
.bg, .img {
    height: auto;
  }

  @media (min-width: 768px) {
    .bg {
      height: 804px; 
    }
  
    .img {
      height: 839px;
    }
  }